<% if current_user == @snack.user %>
<div class="container d-flex align-items-center justify-content-center ">
    <div class="row w-25">
        <h1 class="text-center fs-3">Modifier <%= @snack.name %></h1>
          <div class="form">
              <%= simple_form_for @snack  do |f|%>
                <%= f.input :name %>
                <%= f.input :description %>
                <%= f.input :address %>
                <%= f.input :price %>
          <%= f.button :submit, "Update Snack", class: "update" %>
          </div>
        <% end %>

    </div>
</div>
<% else %>
  <p>Vous ne pouvez pas modifier ce snack!</p>
<% end %>
