<div class="page-wrapper">

  <div class="show-container">
    <div class="image-div">

  <% if @snack.photo.attached? %>
        <%= cl_image_tag @snack.photo.key, class: "cl-show-image" %>
      <% else %>
        <%= image_tag "breakfast.jpg", class: "cl-show-image" %>
      <% end %>
    </div>

    <div class="show-content">
      <div class="title-div">
        <h1><%= @snack.name %></h1>
        <p> - <%= @snack.rating %> <i class="fa-solid fa-cookie-bite"></i></p>
      </div>

      <div class="description-div">
        <p class="snack-description-card"><%= @snack.description %></p>
      </div>

      <div class="price-div">
        <p class="price-card"><%= @snack.price %>€</p>
        <p><i><span class="created-snack">Ce snack a été créé par <%= @snack.user.username %></span></i></p>
      </div>
    </div>
    <div style="width: 80%; height: auto" class="map-container"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="container-actions">
    <% if user_signed_in? %>
      <%# Si le user est le owner de l'annonce %>
    <% if current_user == @snack.user%>
     <div class="link-snacks">
        <%= link_to "Éditer le snack", edit_snack_path(@snack), class: "edit-snack" %>
        <%= link_to "Supprimer le snack", snack_path(@snack), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer #{@snack.name}?"}, class: "delete-snack" %>
     </div>



        <div class="booking-container">
          <div class="pending-booking">
          <u><h5 class="title-show">Réservation(s) en attente  <i class="fa-solid fa-clock-rotate-left"></i></h5></u>
            <ul>
              <% @snack.bookings.each do |booking| %>
                <% if booking.booked == false %>
                  <div class="booking-card-show">
                    <li>
                        <p class="booking-demand"><span class="booking-username"><%= booking.user.username %></span> vous a envoyé une demande de réservation</p>
                        <p>pour le <%= booking.date %></p>
                        <p><i class="fa-solid fa-check"></i> <%= link_to "Accepter", accept_booking_path(booking), data: {turbo_method: :patch}, class: "booking-show" %></p>
                        <p><i class="fa-solid fa-xmark"></i> <%= link_to "Refuser", decline_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir refuser?"}, class: "booking-show-refuse" %></p>
                    </li>
                  </div>
                <% end %>
            <% end %>
            </ul>
          </div>

          <div class="accepted-booking">
         <u><h5 class="title-show">Réservation(s) acceptées  <i class="fa-solid fa-check"></i></h5></u>
            <ul>
              <% @snack.bookings.each do |booking| %>
                <% if booking.booked%>
                  <li>
                      <%= booking.user.username %> - <%= booking.date %>
                  </li>
                <% end %>
            <% end %>
            </ul>
          </div>
        </div>

    <%# Sinon %>
    <% else %>
      <%# Si on a pas déjà utilisé le user_id et le snack_id, on affiche le lien %>
      <% if Booking.where(user_id:current_user.id, snack_id:@snack.id).empty? %>
        <div data-controller="toggle-booking">
          <div class="link-snacks" data-action="click->toggle-booking#fire">
            <%= link_to "Réservez un snack", class: "snack-reservation"%>
          </div>
          <%# <%= link_to "Réservez un snack", snack_bookings_path(@snack), data: {turbo_method: :post} %>
          <div data-toggle-booking-target="togglableElement" class="d-none">
            <%= render "form_booking", snack: @snack, booking: @booking %>
          </div>
        </div>
      <% else %>
      <% if Booking.where(user_id:current_user.id, snack_id:@snack.id)[0].booked %>
            <p class="resa-validee">Votre réservation a été <span class="green-resa">validée</span> ! Profitez-bien de votre snack aujourd'hui !</p>
            <% else %>
            <p class="resa-pending">Votre demande de réservation est en <span class="cours-de-traitement">cours de traitement</span>, revenez plus tard !</p>
            <% end %>
      <% end %>
    <% end %>
  <% end %>
   </div>
    <ul>
      <% @snack.reviews.each do |review| %>
        <div class="review-div">
          <p><%= review.rating %>/5 <i class="fa-solid fa-cookie-bite"></i></p>
          <p><strong><%= review.user.username %></strong>: <%= review.content %></p>
        </div>
      <% end %>
    </ul>
</div>
